* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: Courier;
    background-color: #DB98DB;
    padding: 50px;
}

.sektio {
    width: 600px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
